*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: "Avenir Next",arial,serif;

}
// Đây là phần bao ngoài của phần slide
.slidebar-extracurricular{
    // Đây là phần 1
        .button-slidebar-extracurricular-1{
            padding:10px 126px 0 25px;
            background: #b60505;
            margin-bottom: 5px;
            text-decoration: none;
        }
    //Đây là hover của phần 1
        .button-slidebar-extracurricular-1:hover{
            background: #eb991b;
        }
    //Đây là phần 2
        .button-slidebar-extracurricular-2{
            padding:10px 56px 0 27px;
            background: #eb991b;
            margin-bottom: 5px;
            text-decoration: none;
        }
    //Đây là hover phần 2
        .button-slidebar-extracurricular-2:hover{
            background:  #c98218;
        } 
         .text-button-slidebar-extracurricular{
            text-transform: none;
            font-size: 18px;
            font-weight: 500;
            color:#fff;
        }
        //Đây là phần 3
    .button-slidebar-extracurricular-3{
        padding:10px 91px 0 27px;
        background: #b60505;
        margin-bottom: 5px;
        text-decoration: none;
    }
    //Đây là hover phần 3
    .button-slidebar-extracurricular-3:hover{
        background: #eb991b;
    }
    }
    
    .advertisement-slidebar-extracurricular-main-1{
        background: #fd7522;
        position: relative;
        color:#fff;
        padding:30px 19px;
        margin-top:15px;
        font-family: "Avenir Next",arial,serif;
        .h3-advertisement-slidebar-extracurricular-1{
            font-size:24px;
            font-weight: 100;
            
        }
        .a-advertisement-slidebar-extracurricular-1{
            font-weight: 700;
            text-transform: uppercase;
            color:#fff;
            text-decoration: none;
        }
    
    }
    .advertisement-slidebar-extracurricular-main-2{
        background: #1683d4;
        position: relative;
        color: #fff;
        padding:30px 25px;
        margin-top:10px;
        .a-advertisement-slidebar-extracurricular-2{
            font-weight: 700;
            text-transform: uppercase;
            color:#fff;
            text-decoration: none;
        }
    }
//Đây là phần box-text-extracurricular
.box-text-extracurricular{
    background: #fff;
    border: 1px solid rgba(173, 173, 173, 0.322);
    .title-extracurricular{
        padding-top:30px;
        padding-left:30px;
        padding-bottom: 50px;
        font-family: "Avenir Next",arial,serif;
        .h1-title-extracurricular-1{
            font-weight: 700;
            color:rgba(120, 120, 120, 0.767)
        }
        .h1-title-extracurricular-2{
            font-weight: 700;
            color:rgba(120, 120, 120, 0.767);
            margin-left:46px;
        }
        .span-title-extracurricular{
            color:#eb991b;
        }
    }
    .h4-title-extracurricular{
        font-weight: 600;
    }
    .img-extracurricular{
        margin-left: 60px;
        width: 600px;
        height: 400px;
    }
    .title-img-extracurricular{
        text-align: center;
    }
    .text-title-extracurricular-1{
        margin-left:80px;
        font-family: "Avenir Next",arial,serif;
    }
//Đây là phần icon-extracurricular
    .icon-extracurricular{
        padding-top:50px;
        padding-left:30px;
    }
    .li-text-extracurricular-main{
        background: #ddd   ;
        .link-text-extracurricular-main{
            color:rgb(112, 112, 112);
        }
//Đây là phần link được hover
    .link-text-extracurricular-main:hover{
        color:#c98218;
    }
    }
    .li-text-main-extracurricular-1{
        background: #b21116;
        .link-text-main-extracurricular-1{
            color:white;
        }
    }
}
   